/* /Components/CurseforgeCard.razor.rz.scp.css */
div.curseforge-card[b-5jxruvctd3] {
  box-shadow: black 2px 2px 5px;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
  font-family: Roboto, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

div.curseforge-card img.thumbnail[b-5jxruvctd3] {
  width: 4em;
  height: 4em;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid black;
  margin-right: 1em;
}

.cf-card-header[b-5jxruvctd3] {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.cf-summary[b-5jxruvctd3] {
  flex-grow: 1;
  margin: 0.5em 0;
}

.cf-title[b-5jxruvctd3] {
  font-weight: bold;
  font-size: 1.4em;
}

.cf-swatches[b-5jxruvctd3] {
  display: flex;
  column-gap: 1em;
}

button.cf-download[b-5jxruvctd3] {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  padding: 0.4em;
}
button.cf-download:hover[b-5jxruvctd3] {
  background-color: #f8ae95;
}
button.cf-download span:first-child[b-5jxruvctd3] {
  display: inline-block;
  height: 1.1em;
  vertical-align: middle;
}
button.cf-download object.cf-logo[b-5jxruvctd3] {
  height: 0.7em;
}
button.cf-download a[b-5jxruvctd3] {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0.4em;
}
/* /Components/Markdown.razor.rz.scp.css */
div.markdown pre[b-js1q71i047] {
  display: block;
  background-color: #2d2d2d !important;
  padding: 1rem;
  border-radius: 0.5rem;
}
/* /Pages/Index.razor.rz.scp.css */
div#project-cards[b-jgsblyhduy] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 0.8rem;
  grid-auto-flow: row;
}
/* /Pages/NotFoundPage.razor.rz.scp.css */
/* /Pages/WikiPage.razor.rz.scp.css */
div.wiki-page[b-svudsauc6p] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav.wiki-nav[b-svudsauc6p] {
  width: max-content;
  min-width: 17rem;
  margin-right: 1.6rem;
  padding: 1rem;
  background-color: #384048;
  color: white;
  border-radius: 0.5rem;
  height: fit-content;
}
nav.wiki-nav ul[b-svudsauc6p] {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.wiki-nav li[b-svudsauc6p] {
  margin-bottom: 0.6em;
}
nav.wiki-nav a[b-svudsauc6p] {
  text-decoration: none;
  color: currentColor;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s29s4s63jm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-s29s4s63jm] {
    flex: 1;
    padding: 1rem;
}

.sidebar[b-s29s4s63jm] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

@media (min-width: 641px) {
    .page[b-s29s4s63jm] {
        flex-direction: row;
    }

    .sidebar[b-s29s4s63jm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
nav[b-zs96kvdy8k] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--theme-primary);
  padding: .4rem;
  color: white;
  font-family: Roboto, sans-serif;
}

a.navbar-brand[b-zs96kvdy8k] {
  opacity: 1;
  font-weight: 600;
  padding-inline-end: 2rem;
}

div.main-nav-links[b-zs96kvdy8k] {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}
