/* /Components/CurseforgeCard.razor.rz.scp.css */
div.curseforge-card[b-5jxruvctd3] {
  box-shadow: black 2px 2px 5px;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
  font-family: Roboto, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

div.curseforge-card img.thumbnail[b-5jxruvctd3] {
  width: 4em;
  height: 4em;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid black;
  margin-right: 1em;
}

.cf-card-header[b-5jxruvctd3] {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.cf-summary[b-5jxruvctd3] {
  flex-grow: 1;
  margin: 0.5em 0;
}

.cf-title[b-5jxruvctd3] {
  font-weight: bold;
  font-size: 1.4em;
}

.cf-swatches[b-5jxruvctd3] {
  display: flex;
  column-gap: 1em;
}

button.cf-download[b-5jxruvctd3] {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  padding: 0.4em;
}
button.cf-download:hover[b-5jxruvctd3] {
  background-color: #f8ae95;
}
button.cf-download span:first-child[b-5jxruvctd3] {
  display: inline-block;
  height: 1.1em;
  vertical-align: middle;
}
button.cf-download object.cf-logo[b-5jxruvctd3] {
  height: 0.7em;
}
button.cf-download a[b-5jxruvctd3] {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0.4em;
}
/* /Components/Markdown.razor.rz.scp.css */
div.markdown pre[b-js1q71i047] {
  display: block;
  background-color: #2d2d2d !important;
  padding: 1rem;
  border-radius: 0.5rem;
}
/* /Pages/Index.razor.rz.scp.css */
div#project-cards[b-jgsblyhduy] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 0.8rem;
  grid-auto-flow: row;
  margin-top: 2rem;
}
/* /Pages/WikiPage.razor.rz.scp.css */
div.wiki-page[b-svudsauc6p] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav.wiki-nav[b-svudsauc6p] {
  width: 30rem;
  margin-right: 1.6rem;
  padding: 1rem;
  background-color: lightslategray;
  color: white;
  border-radius: 0.5rem;
}
nav.wiki-nav ul[b-svudsauc6p] {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.wiki-nav li[b-svudsauc6p] {
  margin-bottom: 0.6em;
}
nav.wiki-nav a[b-svudsauc6p] {
  text-decoration: none;
  color: currentColor;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s29s4s63jm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-s29s4s63jm] {
    flex: 1;
}

.sidebar[b-s29s4s63jm] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-s29s4s63jm] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-s29s4s63jm]  a, .top-row[b-s29s4s63jm]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-s29s4s63jm]  a:hover, .top-row[b-s29s4s63jm]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-s29s4s63jm]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-s29s4s63jm] {
        display: none;
    }

    .top-row.auth[b-s29s4s63jm] {
        justify-content: space-between;
    }

    .top-row[b-s29s4s63jm]  a, .top-row[b-s29s4s63jm]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-s29s4s63jm] {
        flex-direction: row;
    }

    .sidebar[b-s29s4s63jm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-s29s4s63jm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-s29s4s63jm]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-s29s4s63jm], article[b-s29s4s63jm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zs96kvdy8k] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zs96kvdy8k] {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-zs96kvdy8k] {
  font-size: 1.1rem;
}

.nav-item[b-zs96kvdy8k] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item span:first-child[b-zs96kvdy8k] {
  padding: 0 0.2em;
}

.nav-item:first-of-type[b-zs96kvdy8k] {
  padding-top: 1rem;
}

.nav-item:last-of-type[b-zs96kvdy8k] {
  padding-bottom: 1rem;
}

.nav-item a[b-zs96kvdy8k] {
  display: flex;
  align-items: center;
  line-height: 3rem;
}
.nav-item a a.active[b-zs96kvdy8k] {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}
.nav-item a a:hover[b-zs96kvdy8k] {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@media (min-width: 641px) {
  .navbar-toggler[b-zs96kvdy8k] {
    display: none;
  }

  .collapse[b-zs96kvdy8k] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
#socials[b-zs96kvdy8k] {
  color: white;
}
#socials span.nav-social[b-zs96kvdy8k] {
  color: white;
  text-decoration: none;
  padding: 0.2em 0.4em;
}
#socials span.nav-social a[b-zs96kvdy8k] {
  color: currentColor;
}
