<mat-card class="example-card mat-elevation-z3">
    <ng-template *ngIf="loaded; then done; else loading"></ng-template>
    <ng-template #done>
        <mat-card-header>
            <img mat-card-avatar [src]="cfData?.thumbnail" />

            <mat-card-title>{{cfData?.title}}</mat-card-title>
            <mat-card-subtitle>
                <img [src]="availableForSvg" />
                &nbsp;
                <img [src]="downloadSvg" />
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{cfData?.summary}}</p>

            &nbsp;
            <!-- <img src="https://github.com/CompactMods/CompactCrafting/actions/workflows/tagged-release.yml/badge.svg" /> -->
        </mat-card-content>
        <!-- <img mat-card-image src="/assets/cards/crafting.png" alt="Crafting a Chicken"> -->
        <mat-card-actions>
            <a mat-flat-button class="cfDownloadBtn" [href]="cfData?.urls?.curseforge" *ngIf="hasCfUrl" target="_blank">
                <mat-icon class="cfDownloadIcon" svgIcon="curseforge"></mat-icon>
                Curseforge
            </a>
        </mat-card-actions>
    </ng-template>

    <ng-template #loading>
        <mat-card-content>
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card-content>
    </ng-template>
</mat-card>