mat-card {
}

mat-card-header img[mat-card-avatar] {
  border: 1px solid gray;
}

mat-card-content {
  min-height: 6em;
}

.cfDownloadBtn {
  border: 1px solid gray;

  &:hover {
      background-color: lightgray;
  }

  mat-icon.cfDownloadIcon {
    color: #f16436;
  }
}
