<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Compact Mods</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <nav class="navbar-nav me-auto mb-2 mb-lg-0">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </NavLink>

                <NavLink class="nav-link" href="cm4-coords" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-compass"></i>
                    <span>CM4 Coords Tool</span>
                </NavLink>

                <NavLink class="nav-link" href="wiki" Match="NavLinkMatch.Prefix">
                    <i class="fa-solid fa-book"></i>
                    <span>Wiki</span>
                </NavLink>
            </nav>

            <div class="d-flex" id="socials">
                <span class="nav-social">
                    <a href="https://discord.gg/abca3pDPvu">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                </span>

                <span class="nav-social">
                    <a href="https://github.com/compactmods">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>
