nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--theme-primary);
  padding: .4rem;
  color: white;
  font-family: Roboto, sans-serif;
}

a.navbar-brand {
  opacity: 1;
  font-weight: 600;
  padding-inline-end: 2rem;
}

div.main-nav-links {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}